@media (min-width: 280px) and (max-width: 1440px) {
    @import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
    .card-section{
      display: grid;
      justify-content: center;
    }
    .link{
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
    }
    .link-home{
      text-decoration: none;
      color: brown;
      font-size: 22px;
      font-variant: small-caps;
    }
    .card-container {
      font-family: "Raleway", sans-serif;
      background-color: brown;
      border: 1px solid #7f7f7f7f;
      width: 300px;
      height: 380px;
      margin-top: 30px;
      text-align: center;
      border-radius: 5px;
    }
    .image-container{
      display: grid;
      justify-content: center;
    }
    .image-container img {
      margin-top: 40px;
      overflow: hidden;
      height: 90px;
      width: 90px;
      border-radius: 130px;
      object-fit: cover;
    }
    .card-ctn {
      margin: 0rem;
      margin-top: 0.5rem;
    }
    .title{
      font-family: "Raleway", sans-serif;
      font-size: 15px;
      color: brown;
      margin-top: 5px;
    }
    .text p {
      font-family: "Raleway", sans-serif;
      margin-top: 20px;
      font-size: 15px;
      color: #fff;
    }
    .button {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 40px;
    }
    .card-container a:link {
      text-decoration: none;
      padding-bottom: -100px;
    }
    .custom-btn {
      text-align: center;
      font-size: 15px;
      color: white;
      margin: 1rem 0.5rem;
      padding: 0.8em 0;
      transition: all 0.1s ease-in-out;
    }
    .custom-btn:hover {
      background-color: black;
      transform: scale(1.05);
    }
  }
  