* {
  margin: 0px;
  padding: 0px;
}
@media (min-width: 320px) and (max-width:1440px) {
  @import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
  .page {
    display: grid;
    justify-content: center;
    font-family: "Raleway", sans-serif;
    background-color: gray ;
    width: 100%;
    height: 100vh;
  }
  .h1 {
    color: rgb(235, 231, 231);
    font-size: 27px;
    margin-top: 100px;
    display: grid;
    justify-content: center;
    line-height: 0.5px;
  }
  .spanOne {
    display: grid;
    justify-content: center;
  }
  .users-img {
    margin-top: 10px;
  }
  span {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    list-style: none;
  }
  #users {
    border-radius: 8px;
    width: 40px;
    height: 40px;
  }
  p {
    margin-top: 10px;
    font-size: 14px;
    color: rgb(156, 152, 152);
  }
  .btn {
    display: grid;
    justify-content: space-evenly;
    margin-top: 150px;
  }
  button {
    width: 260px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    border: 2px solid #fff;
    background-color: rgb(22, 21, 21);
    color: #fff;
    font-weight: bolder;
    font-family: monospace;
  }
  h6 {
    color: #fff;
    font-size: 20px;
    text-align: center;
  }
  #Link {
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    font-family: monospace;
    font-size: 18px;
  }
}
